<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PCD | FOTO SEJARAH</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="{{ url_for('display_image', filename='Hello.png') }}" alt="" width="120" height="120">
        <h1 class="display-5 fw-bold">Peningkatan kualitas citra foto sejarah</h1>
        <div class="col-lg-9 mx-auto">
            <p class="lead mb-4">Pengolahan Citra Digital yang kelompok kami kerjakan adalah untuk meningkatkan kualitas citra pada foto sejarah agar informasi yang ada pada foto sejarah dapat dilihat lebih jelas dengan cara melakukan image enhancement pada foto sejarah..</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <form method="post" action="/" enctype="multipart/form-data">
                     <!-- Input  -->
                     <div class="row">
                        <div class="col m-3 text-center">
                            <label for="formFile" class="form-label">Masukan File Foto</label>
                            <input class="form-control" type="file" name="file" autocomplete="off" required>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-mb-3">
                        <input type="submit" class="btn btn-primary btn-lg px-4 gap-3" value="Submit">
                      </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <p>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
        {% for message in messages %}
          <li class="text-center lead mb-4" style="list-style-type: none;">{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
      {% endwith %}
    </p>
    {% if filename %}
      <div>
        <img class="d-block mx-auto mb-4" src="{{ url_for('display_image', filename=filename) }}" alt="" width="50%" height="50%">
      </div>
    {% endif %}




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>